{% extends 'base.html' %}
{% load static %}

{% block body-style %}style="background: #fbb492 !important;"{% endblock %}

{% block inside-body %}
    <h3>Enter a valid list in json format.</h3>
    <h6>example: [1,4,6,7]</h6>
    <form method="post">
        {% csrf_token %}

        <textarea id="input_json" cols="30" rows="10" class="input_json" name="input_json"></textarea>
        <br>
        <p>select seance
            <select name="seance" id="seance">
                {% for sc in seance %}
                    <option value="{{ sc.name }}">{{ sc.name }}</option>
                {% endfor %}

            </select>
        </p>
        <br>
        <input type="submit" value="send" class="submit_json" name="submit_json" disabled>
    </form>

    {% block extra_script %}
        <script type="text/javascript" src="{% static 'ticket/js/validate_json.js' %}"></script>
    {% endblock %}

{% endblock %}