{% extends 'base.html' %}
{% load static %}

{% block body-style %}style="background: #fbb492 !important;"{% endblock %}

{#{% block inside-body %}#}
{#    <img src="{% static 'public/img/background.jpg' %}" style="max-width:300px;" alt="">#}
{#{% endblock %}#}
{% block inside-body %}
    <div class="column">
        <div class="row">
            <div class="sm-4 mr-5">
                <div class="hall-detail">
                    <div class="row row-detail">
                        <img class="img-detail" src={{ request.scheme }}://{{ request.get_host }}/{{ hall.img }} alt="">
                        <h2>{{ hall.name }}</h2>
                        <h3 style="color: gray; width:400px; font-size:14px">{{ hall.description }}</h3>
                    </div>
                </div>
            </div>

            <div class="sm-12" {% if not seances %}style="margin: auto;padding: 10px;margin-top: 15%;"{% endif %}>

                {% if seances %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for sc in seances %}
                            <tr onclick="clickable-row" class="clickable-row"
                                data-href="{% url "ticket:ticket_view" %}?seance_name={{ sc.name }}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ sc.name }}</td>
                                <td>{{ sc.start_date_time }}</td>
                                <td>{{ sc.end_date_time }}</td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                {% else %}
                    <tr>
                        <th scope="row">
                            There Is Know Seance. <a href="{% url 'admin:seance_seance_add' %}?hall={{ hall.id }}">+crete
                            one</a>
                        </th>
                    </tr>
                {% endif %}
            </div>

        </div>

    </div>

    {% block extra_script %}
        <script type="text/javascript" src="{% static 'public/js/detail.js' %}"></script>
    {% endblock %}
{% endblock %}